@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{background:linear-gradient(#010440,#1c2859); transition: all 2s ease;position: relative;}
body.on{background:#83D8FF;}

*{box-sizing: border-box;}


/* 백그라운드 별 */

.star {position: absolute; width: 3px;height: 3px;border-radius: 50%;background-color: rgba(237, 205, 163, 0.8);box-shadow: 0 0 40px 0 rgba(237, 205, 163, 0.8), 0 0 20px 0 #FFFFFF;animation: shine 3s infinite;}

body.on .star{opacity: 0;}

.star_medium {width: 6px;height: 6px;}
.star_big {width: 9px;height: 9px;box-shadow: 0 0 40px 0 #EDCDA3, 0 0 20px 0 #FFFFFF, inset 0 0 4px #FFFFFF;}

@keyframes shine {0% {opacity: 0.9;} 50% {opacity: 0.2;} 100% {opacity: 0.9;}}


/* 데이 스위치 */
.day_switch{position: fixed; right: 100px; top: 50px; z-index: 10;}
.day_switch .btn_switch{ position: relative; transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); width: 90px; height: 50px; background-color: #83D8FF; border-radius: 50px; border: none; outline: none;}
.day_switch .btn_switch.on{ background-color: #9198e5;}

.day_switch .btn_switch:before{content: 'AM'; position: absolute; left: -50px; top: 50%; transform: translateY(-50%); color: #abafe3; font-size: 20px; font-weight: bold; }
.day_switch .btn_switch:after{content: 'PM'; position: absolute; right: -50px; top: 50%; transform: translateY(-50%); color: #abafe3; font-size: 20px;}
.day_switch .btn_switch.on::before{font-weight: normal;}
.day_switch .btn_switch.on:after{font-weight: bold;}
.day_switch .btn_switch .btn_switch_inner{position: absolute; left: 16px; top: 30%;transform: translateY(-50%); transition: all 0.3s ease; width: 44px; height: 44px; background: rgba(255, 255, 255, 0); border-radius: 44px; box-shadow: -10px 10px yellow;} 
.day_switch .btn_switch.on .btn_switch_inner{left:43px;top: 50%; background: #FFCF96; box-shadow: none;}

body .sun_moon .planet{position: fixed;left:50%; top: 50%; transform: translate(-50%,-50%); margin: -200px 0 0 500px; z-index: 20; width: 150px;height: 150px; border-radius: 50%; box-shadow: -46px 20px #77b3d9; transition: all 2s ease; filter: drop-shadow(30px 10px 4px #4444dd); }

body .sun_moon .planet .face .eye{position: absolute;top: 0; transform: translateX(-50%); width: 25px; height: 25px; background: #000; border-radius: 100%;}
body .sun_moon .planet .face .eyeL{left: 50%;top: 65px; transform: translateX(-105px); transition: all 2s ease;}

body .sun_moon .planet .face .eyeR{background: rgba(0,0,0,0.0); transition: all 2s ease;}

body.on .sun_moon .planet{background: coral; box-shadow: 0px 0px rgba(255, 255, 255, 0);filter: drop-shadow(rgb(68, 68, 221) 0px 0px 24px);}
body.on .sun_moon .planet .face{width: 100%; margin-top: 50px; position: relative;}
body.on .sun_moon .planet .face .eyeL{left: 50%;top: 0; transform: translateX(-40px);}
body.on .sun_moon .planet .face .eyeR{background: rgba(0,0,0,1);left: 50%; transform: translateX(15px);}
body.on .sun_moon .planet .face .mouth{position: absolute; left: 50%;top: 20px; transform: translateX(-50%); width: 25px;height: 10px;border-radius: 0px 0px 100% 100%;background-color: transparent;float: left; border: 3px solid #151843; border-top: none;}


.visual{height:100vh;}
.visual .slick-slide{height:100vh; min-height: 600px; min-width: 1000px; position: relative;}

.visual .slick-slide{height:  100vh; border: 1px solid red;}
.visual .slick-dots{position: absolute; right: 0; top: 50%;}
.visual .slick-dots li {display: block;padding: 5px 0; position: relative;}
.visual .slick-dots li button{text-indent: -99999px; width: 16px; height: 16px; background: #000; border: none; outline: none; border-radius: 100%;}
.visual .slick-dots .slick-active{display: block; width: 150px; padding: 5px 0; position: relative;}
.visual .slick-dots .slick-active:after{content: 'intro'; position: absolute; left: 20px; top: 0%; line-height: 26px;}

.visual .slick-dots .slick-active:nth-child(1):after{content: 'INTRO';}
.visual .slick-dots .slick-active:nth-child(2):after{content: 'INFO';}
.visual .slick-dots .slick-active:nth-child(3):after{content: 'PC';}
.visual .slick-dots .slick-active:nth-child(4):after{content: 'ETC';}

.visual .slick-prev{position: absolute; top: 0%; left: 50%;transform: translateX(-50%); z-index: 100;}
.visual .slick-next{position: absolute; bottom: 0%; left: 50%;transform: translateX(-50%);}


/* 페이지 1 인트로 */
.visual .intro{position: relative; height: 100vh;}
.visual .intro .txt{ position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.visual .intro .txt p{font-size: 16px; text-align: center;}
.visual .intro .txt h2{font-size: 50px;}
.visual .intro .contact{position: absolute; left: 50%; top: 50%;margin-left: 200px;}



/* 페이지 2 info */
.visual .info .wrap{ position: absolute; left: 50%; top:50%; transform: translate(-50%,-50%);  width: 1200px; border: 1px solid yellow;}

.visual .info .wrap .language{ float: left; width: 50%; padding: 0 20px; border: 1px solid green; border-right:1px solid #eee;}
.visual .info .wrap .language h2{ color: #000; font-size: 30px; text-align: left;}
.visual .info .wrap .language p{ color: #000; font-size: 16px; text-align: left; text-indent: 5px; margin: 10px auto;}
.visual .info .wrap .language .list{width: 100%;}
.visual .info .wrap .language .list li{ float: left; width: calc( 50% - 10px ); padding:0 10px;}
.visual .info .wrap .language .list li:last-child{border-right:0px solid #eee ;}
.visual .info .wrap .language .list li img{width: 100%; height:200px;}
.visual .info .wrap .language .list li .bar{}
.visual .info .wrap .language .list li .bar p{display: block; width: 100%; height: 5px; background: #eee; border: 1px solid #eee;}
.visual .info .wrap .language .list li .bar p span{display: block; width: 80%; height: 7px; margin-top: -2px; background: #000; border: 1px solid #eee;}

.visual .info .wrap .level{ float: left; width: 50%; height: 100%; padding: 15px; border: 1px solid purple;}
.visual .info .wrap .level .level_list{}
.visual .info .wrap .level .level_list li{ height: 50px;}
.visual .info .wrap .level .level_list li p{margin: 5px 0;}



/* 사이트 리스트 모달 */
.modal_sitelist{display: none;  z-index: 10;}
.modal_sitelist.on{display: block;}
.modal_sitelist .modal_cover{ position: fixed; left: 0%; top: 0%;width: 100%; height: 100%; background: rgba(0,0,0,0.6);z-index: 10;}
.modal_sitelist .modal_popup{position: fixed; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 500px; background: #fff; padding: 10px;z-index: 11;}
.modal_sitelist .modal_popup h3{ font-size: 30px; }
.modal_sitelist .modal_popup img{ width: 100%;}
.modal_sitelist .modal_popup .txt{}



.visual .sitelist{height: 100vh; min-height: 600px}
.visual .sitelist h2{position: absolute; left: 50%; top: 50px; transform: translateX(-30%); font-size: 50px;}
.visual .sitelist .left{float: left; width: 15%; height: 100%; background: #eee; border: 1px solid green; position: relative;}

.visual .sitelist .left .category{position: absolute;left: 0; top: 50%; transform: translateY(-50%); width: 100%; margin: auto 0%;}
.visual .sitelist .left .category li{ padding: 10px 0; text-align: center;}
.visual .sitelist .left .category li a{ color: rgb(46, 46, 46);font-size: 25px; font-weight: normal; transition: all 0.5s ease; outline: none;}
.visual .sitelist .left .category li a:hover{ color: #000; font-size: 28px; font-weight: bold; }

.visual .sitelist .right{float: right; width: 85%; height: 100%; background: url(''); border: 1px solid blue;}

.visual .sitelist .right ul{margin-top: 100px;padding-right:150px ;}
.visual .sitelist .right ul li{float: left; width: calc(100%/3); transition: all 1s ease;}
.visual .sitelist .right ul.on li{width: 0px;}
.visual .sitelist .right ul li a{display: block; width: 160px; height: 90px; margin: 30px auto; transition: all 1s ease; background: red;}
.visual .sitelist .right ul.on li a{width: 0px; height: 0px;overflow: hidden;}


.visual .sitelist .right .pc_imges li{}
.visual .sitelist .right .pc_imges li a{ position: relative; }
.visual .sitelist .right .pc_imges li:nth-child(1) a{background: url('../images/coffin.jpg') no-repeat;background-size: cover;}
.visual .sitelist .right .pc_imges li:nth-child(1) a img{height: 80px; position: absolute;left: 50%; top: 50%; transform: translate(-50%,-50%);}

.visual .sitelist .right .pc_imges li:nth-child(2) a{background: url('../images/samyang.jpg') no-repeat;background-size: cover;}
.visual .sitelist .right .pc_imges li:nth-child(2) a img{height: 30px; position: absolute;left: 50%; top: 50%; transform: translate(-50%,-50%);}

.visual .sitelist .right .pc_imges li:nth-child(3) a{background: url('../images/podopot.jpg') no-repeat;background-size: cover;}
.visual .sitelist .right .pc_imges li:nth-child(3) a img{height: 50%; position: absolute;left: 50%; top: 50%; transform: translate(-50%,-50%);}

.visual .sitelist .right .pc_imges li:nth-child(4) a{background: url('../images/daelim.jpg') no-repeat;background-size: cover;}
.visual .sitelist .right .pc_imges li:nth-child(4) a img{width: 50%; position: absolute;left: 50%; top: 50%; transform: translate(-50%,-50%);}

.visual .sitelist .right .pc_imges li:nth-child(5) a{background: url('../images/daesang.jpg') no-repeat;background-size: cover;}
.visual .sitelist .right .pc_imges li:nth-child(5) a img{width: 50%; position: absolute;left: 50%; top: 50%; transform: translate(-50%,-50%);}

.visual .sitelist .right .responsive li a{ position: relative;}
.visual .sitelist .right .responsive li:nth-child(1) a{background: url('../images/glovis.png') no-repeat;background-size: cover;}
.visual .sitelist .right .responsive li:nth-child(1) a img{height: 30px; position: absolute;left: 50%; top: 50%; transform: translate(-50%,-50%);}

.visual .sitelist .right .responsive li:nth-child(2) a{ line-height: 90px; text-align: center; background: url('../images/Architecture.png') no-repeat;background-size: cover;}
.visual .sitelist .right .responsive li:nth-child(2) a p{color: #000; font-size: 20px;}

.visual .sitelist .right .responsive li:nth-child(3) a{background: url('../images/elite.jpg') no-repeat;background-size: cover;}
.visual .sitelist .right .responsive li:nth-child(3) a img{height: 40px; position: absolute;left: 50%; top: 45%; transform: translate(-50%,-50%);}

.visual .sitelist .right .mobile li a{position: relative;}
.visual .sitelist .right .mobile li:nth-child(1) a{background: url('../images/coex_aqua.jpg') no-repeat;background-size: cover;}
.visual .sitelist .right .mobile li:nth-child(1) a img{height: 40px; position: absolute;left: 50%; top: 50%; transform: translate(-50%,-50%);}

.visual .sitelist .right .mobile li:nth-child(2) a{background: url('../images/subway.jpg') no-repeat;background-size: cover;}
.visual .sitelist .right .mobile li:nth-child(2) a img{height: 25px; position: absolute;left: 50%; top: 50%; transform: translate(-50%,-50%);}


.visual .sitelist .right .responsive {margin-top: 1px;}
.visual .sitelist .right .responsive li a{background: skyblue;}

.visual .sitelist .right .mobile li a{background: green;}




